blockquote.markdown-alert, .markdown-alert {
    padding: var(--base-size-8) var(--base-size-16);
    margin-bottom: var(--base-size-16);
    color: inherit;
    border-left: .25em solid var(--borderColor-default, var(--color-border-default));
}

.markdown-alert>:first-child {
    margin-top: 0;
}

.markdown-alert>:last-child {
    margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: var(--base-text-weight-medium, 500);
    align-items: center;
    line-height: 1;
}
.markdown-alert.markdown-alert-note {
    border-left-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: var(--fgColor-accent, var(--color-accent-fg));
}

.markdown-alert.markdown-alert-important {
    border-left-color: var(--borderColor-done-emphasis, var(--color-done-emphasis));
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: var(--fgColor-done, var(--color-done-fg));
}

.markdown-alert.markdown-alert-warning {
    border-left-color: var(--borderColor-attention-emphasis, var(--color-attention-emphasis));
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: var(--fgColor-attention, var(--color-attention-fg));
}

.markdown-alert.markdown-alert-tip {
    border-left-color: var(--borderColor-success-emphasis, var(--color-success-emphasis));
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: var(--fgColor-success, var(--color-success-fg));
}

.markdown-alert.markdown-alert-caution {
    border-left-color: var(--borderColor-danger-emphasis, var(--color-danger-emphasis));
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: var(--fgColor-danger, var(--color-danger-fg));
}
